// Fonts
$font-primary: "Helvetica Neue", Helvetica, "Roboto", sans-serif;
$font-secondary: "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Colors
$color-accent: #111;
$black: #111;
$gray-dark:#111;
$gray: #999;
$gray-light: #fff;
$yellow: #ffff00;
